## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,hilo,US,78.53,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
2,4,arraial do cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
3,6,shihezi,CN,55.92,clear sky,44.3000,86.0333,Home Inn Shihezi Dongwu Road Century Square
4,7,vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
404,687,jacqueville,CI,81.97,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
405,693,ende,ID,75.20,scattered clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende
406,694,kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
407,695,galveston,US,82.18,clear sky,29.3669,-94.9669,Crystal Suites
408,698,launceston,AU,56.16,scattered clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston

In [3]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,hilo,US,78.53,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
2,4,arraial do cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
3,6,shihezi,CN,55.92,clear sky,44.3000,86.0333,Home Inn Shihezi Dongwu Road Century Square
4,7,vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
404,687,jacqueville,CI,81.97,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
405,693,ende,ID,75.20,scattered clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende
406,694,kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
407,695,galveston,US,82.18,clear sky,29.3669,-94.9669,Crystal Suites
408,698,launceston,AU,56.16,scattered clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [5]:
locations

         Lat       Lng
0    19.7297 -155.0900
1   -24.8667  113.6333
2   -22.9661  -42.0278
3    44.3000   86.0333
4   -21.2000 -175.2000
..       ...       ...
404   5.2052   -4.4146
405  -8.8432  121.6623
406 -34.0033   24.7314
407  29.3669  -94.9669
408 -41.4500  147.1667

[385 rows x 2 columns]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# half moon bay
# portland
# las vegas
# cabo san lucas

vacation_start = clean_hotel_df.loc[clean_hotel_df["City"] == "half moon bay"]
vacation_end = clean_hotel_df.loc[clean_hotel_df["City"] == "half moon bay"]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df["City"] == "portland"]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df["City"] == "las vegas"] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df["City"] == "cabo san lucas"]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start = vacation_start[["Lat", "Lng"]].apply(tuple, axis=1)
# end = vacation_end[["Lat", "Lng"]].apply(tuple, axis=1)
# stop1 = vacation_stop1[["Lat", "Lng"]].apply(tuple, axis=1)
# stop2 = vacation_stop2[["Lat", "Lng"]].apply(tuple, axis=1)
# stop3 = vacation_stop3[["Lat", "Lng"]].apply(tuple, axis=1)

start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
stops = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=stops, 
                                    travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,278,half moon bay,US,78.55,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,642,portland,US,55.63,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,238,las vegas,US,80.19,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
3,208,cabo san lucas,MX,77.61,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))