## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,hilo,US,19.7297,-155.0900,78.53,76,100,6.91,heavy intensity rain
1,1,carnarvon,AU,-24.8667,113.6333,77.07,83,40,12.66,scattered clouds
2,2,dikson,RU,73.5069,80.5464,-2.94,100,45,9.19,scattered clouds
3,3,punta arenas,CL,-53.1500,-70.9167,41.11,87,40,23.02,light intensity shower rain
4,4,arraial do cabo,BR,-22.9661,-42.0278,82.36,74,40,12.66,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,hilo,US,19.7297,-155.0900,78.53,76,100,6.91,heavy intensity rain
1,1,carnarvon,AU,-24.8667,113.6333,77.07,83,40,12.66,scattered clouds
4,4,arraial do cabo,BR,-22.9661,-42.0278,82.36,74,40,12.66,scattered clouds
6,6,shihezi,CN,44.3000,86.0333,55.92,37,3,5.03,clear sky
7,7,vaini,TO,-21.2000,-175.2000,73.56,100,100,5.75,light intensity shower rain

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                416
City                   416
Country                409
Lat                    416
Lng                    416
Max Temp               416
Humidity               416
Cloudiness             416
Wind Speed             416
Current Description    416
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,hilo,US,19.7297,-155.0900,78.53,76,100,6.91,heavy intensity rain
1,1,carnarvon,AU,-24.8667,113.6333,77.07,83,40,12.66,scattered clouds
4,4,arraial do cabo,BR,-22.9661,-42.0278,82.36,74,40,12.66,scattered clouds
6,6,shihezi,CN,44.3000,86.0333,55.92,37,3,5.03,clear sky
7,7,vaini,TO,-21.2000,-175.2000,73.56,100,100,5.75,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
687,687,jacqueville,CI,5.2052,-4.4146,81.97,87,100,14.63,overcast clouds
693,693,ende,ID,-8.8432,121.6623,75.20,82,27,0.47,scattered clouds
694,694,kruisfontein,ZA,-34.0033,24.7314,61.88,84,89,1.66,overcast clouds
695,695,galveston,US,29.3669,-94.9669,82.18,61,0,5.99,clear sky
698,698,launceston,AU,-41.4500,147.1667,56.16,92,40,9.22,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,78.53,heavy intensity rain,19.7297,-155.0900,
1,carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,
4,arraial do cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,
6,shihezi,CN,55.92,clear sky,44.3000,86.0333,
7,vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,
8,meadow lake,US,73.71,broken clouds,34.8014,-106.5436,
15,bredasdorp,ZA,61.47,broken clouds,-34.5322,20.0403,
16,victoria,HK,65.25,clear sky,22.2855,114.1577,
18,aksu,CN,57.31,clear sky,41.1231,80.2644,
19,hermanus,ZA,61.81,clear sky,-34.4187,19.2345,

In [8]:
# #combining latitude and longitude
# lats = hotel_df["Lat"]
# lngs = hotel_df["Lng"]
# lat_lngs = zip(lats, lngs)
# # Add the latitudes and longitudes to a list / unzipping
# location = list(lat_lngs)

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "" 
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,78.53,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
4,arraial do cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
6,shihezi,CN,55.92,clear sky,44.3000,86.0333,Home Inn Shihezi Dongwu Road Century Square
7,vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
687,jacqueville,CI,81.97,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
693,ende,ID,75.20,scattered clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende
694,kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
695,galveston,US,82.18,clear sky,29.3669,-94.9669,Crystal Suites
698,launceston,AU,56.16,scattered clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [12]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,78.53,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
4,arraial do cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
6,shihezi,CN,55.92,clear sky,44.3000,86.0333,Home Inn Shihezi Dongwu Road Century Square
7,vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
687,jacqueville,CI,81.97,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
693,ende,ID,75.20,scattered clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende
694,kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
695,galveston,US,82.18,clear sky,29.3669,-94.9669,Crystal Suites
698,launceston,AU,56.16,scattered clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))